.page-addpurchasedata {

  .ion-label
  {
      font-family: Verdana, Geneva, Tahoma, sans-serif;      
      font-size: 16px;
      padding: 5px 5px 5px 5px;
      font-weight: bold;
      color: darkcyan;
  }

  .labels
  {
      font-family: Verdana, Geneva, Tahoma, sans-serif;      
      font-size: 14px;   
      color:#000;
  }

  .ion-grid
  {
    border: solid 1px #999;
  }
  
  
  .select-searchable {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .select-searchable-label {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
  }
  
  .select-searchable-value {
    max-width:100%;
    text-overflow:clip;
    overflow: hidden;
    width:120px;
    
  }
  
  .select-searchable-icon {
    position: relative;
    width: 120px;
  }
  
  .select-searchable-icon-inner {
    position: absolute;
    top: 90%;
    left: 100px;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
  }
  
  
  
  .select-searchable-ios .select-searchable-icon-inner {
    margin-top: -2px;
    color: #999;
  }
  
  .select-searchable-ios .select-searchable-value {
    padding-left: 30px;
  }
  
  .select-searchable-md .select-searchable-icon {
    height: 10px;
  }
  
  .select-searchable-md .select-searchable-icon-inner {
    margin-top: -3px;
    color: #999;
  }
  
  .select-searchable-md .select-searchable-value {
    padding-left: 30px;
  }
  
  .select-searchable-md .select-searchable-label {
    color: #999;
  }
  
  .select-searchable-spinner-background {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #000;
    z-index: 100;
    opacity: 0.05;
  }
  
  .select-searchable-spinner ion-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin-top: -14px;
    margin-left: -14px;
  } 
 

}